[mysqld]
user = root
datadir = /data
port = 3306
log-bin = /data/mysql-bin
pid-file = /run/mysqld.pid
log-error = /var/log/mysql.log

innodb_buffer_pool_size = 1G
query_cache_size = 0
query_cache_type = 0
query_cache_limit = 1M
thread_cache_size = 4
performance_schema = ON
innodb_log_file_size = 16M 
innodb_buffer_pool_instances = 1